:root {
  --wallpaper: url(../images/1024020.jpg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body {
  overflow-y: hidden;
}
.wallpaper {
  transform: translateY(-5%);
  width: 100%;
  height: 100vh;
  background-image: var(--wallpaper);
  background-size: cover;
}
.taskbar {
  scroll-behavior: auto;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6vh;
  background: black;
  display: flex;
  z-index: 9;
}
.start {
  margin: 0 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  height: 4vh;
  background-color: darkgray;
}
.search__icon {
  padding: 5px;
}
.search__container::after {
  content: "";
  width: 2em;
  height: 4vh;
  background-color: darkgray;
}
.search__box {
  width: 100%;
  height: 100%;
  color: black;
  background: darkgray;
  border: none;
}
.windiws {
  width: 3vh;
  height: 3vh;
}
.navigations {
  display: flex;
  justify-content: flex-end;
}
.close {
  background-image: url(../svg/close_white_24dp.svg);
  background-repeat: no-repeat;
}
.btns {
  width: 30px;
  height: 30px;
  margin: 0.5%;
}
#start__popup {
  position: absolute;
  bottom: 0;
  left: 35%;
  width: 500px;
  height: 500px;
  background-color: black;
  z-index: 8;
}
#my__computer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 70vh;
  background: black;
  z-index: 7;
}
.popups {
  transition: 0.3s;
  opacity: 0;
}
.icons {
  display: flex;
}
li {
  margin: 0 25%;
}

/* hover */
.start:hover,
li:hover,
.btns:hover,
.search__icon:hover {
  cursor: pointer;
}
.search__icon:hover {
  cursor: pointer;
}

/* media queries */
